@import url("./reset.css");

html,
body {
  padding: 0.5rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: blue;
  text-decoration: none;
}

button {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

body {
  padding: 1rem;
}
